@using JewelryShop.Application.Contracts
@using JewelryShop.Helper;
@model PaginatedList<ProductHomePageDto>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="d-flex w-100 justify-content-center gap-3 mt-3">
    @*last page*@
    @if ((Model.PageIndex - 1) > 1)
    {
        <button onclick="jQueryAjaxReloadViewAll('@(Url.Action("Sort", "Order",new {sortOrder = ViewData["CurrentSort"],currentDateOrdering = ViewData["CurrentDateOrdering"],pageNumber=(1),
                   currentCategory = ViewData["CurrentCategory"]}))')" class="btn btn-default ">
            &lt;&lt;
        </button>        
        <a href="@(Url.Action("Sort", "Order",new {sortOrder = ViewData["CurrentSort"],currentDateOrdering = ViewData["CurrentDateOrdering"],pageNumber=(1),
                   currentCategory = ViewData["CurrentCategory"]}))" class="btn btn-default ">
            &lt;&lt;
        </a>
    }

    <button onclick="jQueryAjaxReloadViewAll('@(Url.Action("Sort", "Order",new {sortOrder = ViewData["CurrentSort"],currentDateOrdering = ViewData["CurrentDateOrdering"],pageNumber=(Model.PageIndex - 1),
                  currentCategory = ViewData["CurrentCategory"]  }))')"
            class="btn btn btn-no-min @prevDisabled">
        Previous
    </button>
    @if ((Model.PageIndex - 1) > 0)
    {
        <button onclick="jQueryAjaxReloadViewAll('@(Url.Action("Sort", "Order",new {sortOrder = ViewData["CurrentSort"],currentDateOrdering = ViewData["CurrentDateOrdering"],pageNumber=(Model.PageIndex-1),
                  currentCategory = ViewData["CurrentCategory"]}))')"
                class="btn btn-no-min ">
            @(Model.PageIndex - 1)
        </button>
    }

    <button onclick="jQueryAjaxReloadViewAll('@(Url.Action("Sort", "Order",new {sortOrder = ViewData["CurrentSort"],currentDateOrdering = ViewData["CurrentDateOrdering"],pageNumber=(Model.PageIndex),
                   currentCategory = ViewData["CurrentCategory"]}))')"
            class="btn btn-no-min focus">
        @Model.PageIndex
    </button>

    @*next page*@
    @if ((Model.PageIndex + 1) <= Model.TotalPages)
    {
        <button onclick="jQueryAjaxReloadViewAll('@(Url.Action("Sort", "Order",new {sortOrder = ViewData["CurrentSort"],currentDateOrdering = ViewData["CurrentDateOrdering"],pageNumber=(Model.PageIndex + 1),
                   currentCategory = ViewData["CurrentCategory"]}))')"
                class="btn btn-no-min ">
            @(Model.PageIndex + 1)
        </button>
    }


    <button onclick="jQueryAjaxReloadViewAll('@(Url.Action("Sort", "Order",new {sortOrder = ViewData["CurrentSort"],currentDateOrdering = ViewData["CurrentDateOrdering"],pageNumber=(Model.PageIndex + 1),
                 currentCategory = ViewData["CurrentCategory"]}))')"
            class="btn btn-default @nextDisabled">
        Next
    </button>
    @*last page*@
    @if (Model.TotalPages - (Model.PageIndex + 1) >= 1)
    {
        <button onclick="jQueryAjaxReloadViewAll('@(Url.Action("Sort", "Order",new {sortOrder = ViewData["CurrentSort"],currentDateOrdering = ViewData["CurrentDateOrdering"],pageNumber=(Model.TotalPages),
                  currentCategory = ViewData["CurrentCategory"]}))')"
                class="btn btn-no-min ">
            &gt;&gt;
        </button>
    }
</div>