@using JewelryShop.Application.Contracts
@model ProductDto
@{
    var relatedProductDtos = ViewData["RelatedProducts"] as List<ProductHomePageDto> ?? new List<ProductHomePageDto>();
}

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="/"><i class="fa fa-home"></i>Trang chủ</a>
                    <a>@Model.SubCategoryName</a>
                    <span>@Model.Name</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__left product__thumb nice-scroll">
                        <a class="pt active" href="#product-1">
                            <img src="~/Source/img/product/@Model.Image" alt="" />
                        </a>
                        <a class="pt" href="#product-2">
                            <img src="/Source/img/product/details/@Model.Image" alt="">
                        </a>

                    </div>
                    <div class="product__details__slider__content">
                        <div class="product__details__pic__slider owl-carousel">
                            <img data-hash="product-1" class="product__big__img" src="/Source/img/product/@Model.Image" alt="" />
                            <img data-hash="product-2" class="product__big__img" src="/Source/img/product/details/@Model.Image" alt="" />
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-6">
                <div class="product__details__text">
                    <h3>@Model.Name</h3>
                    <div class="product__details__price">@Model.FPrice đ</div>
                    <p>@Model.Name với chất liệu @Model.Material</p>
                    <div class="product__details__button">
                        <form asp-controller="Product" asp-action="AddtoCart" method="get">
                            <input type="text" value="@Model.Id" hidden name="id">
                            <div class="quantity">
                                <span>Số lượng:</span>
                                <div class="pro-qty">
                                    <input type="text" value="1" name="count">
                                </div>
                            </div>
                            <button type="submit" class="cart-btn"><span class="icon_bag_alt"></span> Thêm vào giỏ hàng</button>
                        </form>
                    </div>
                    <div class="product__details__widget">
                        <ul>
                            <li>
                                <span>Chất liệu:</span>
                                <p>@Model.Material</p>
                            </li>
                            <li>
                                <span>Bảo hành:</span>
                                <p>@Model.WarrantyDto.Description</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Mô tả</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <p>@Model.Description</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="related__title">
                    <h5>Sản phẩm liên quan</h5>
                </div>
            </div>
            @foreach (var r in relatedProductDtos)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="/Source/img/product/@r.Image">
                        </div>
                        <div class="product__item__text">
                            <h6><a asp-action="Detail" asp-controller="Product" asp-route-id="@r.Id">@r.Name</a></h6>
                            <div class="product__price">@r.FPrice đ</div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</section>
<!-- Product Details Section End -->
