

@using JewelryShop.Application.Contracts
@model ProductDto
@{
    var relatedProductDtos = ViewData["RelatedProducts"] as List<ProductHomePageDto> ?? new List<ProductHomePageDto>();
}

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="/"><i class="fa fa-home"></i>Trang chủ</a>
                        <a >@Model.SubCategoryName</a>
                        <span>@Model.Name</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__left product__thumb nice-scroll">
                            <a class="pt active" href="#">
                                <img src="~/Source/img/product/@Model.Image" alt=""/>
                            </a>

                        </div>
                        <div class="product__details__slider__content">
                            <div class="product__details__pic__slider owl-carousel">
                            <img data-hash="product-1" class="product__big__img" src="/Source/img/product/@Model.Image" alt=""/>
                        </div>
                        </div>
                    </div>
                </div>
                

                <div class="col-lg-6">
                    <div class="product__details__text">
                        <h3>@Model.Name</h3>
                        <div class="product__details__price">@Model.Price VND</div>
                        <p>@Model.Name với chất liệu @Model.Material</p>
                        <div class="product__details__button">
                            <div class="quantity">
                                <span>Số lượng:</span>
                                <div class="pro-qty">
                                    <input type="text" value="1">
                                </div>
                            </div>
                            <a href="#" class="cart-btn"><span class="icon_bag_alt"></span> Thêm vào giỏ hàng</a>

                        </div>
                        <div class="product__details__widget">
                            <ul>
                                <li>
                                    <span>Chất liệu:</span>
                                    <p>@Model.Material</p>
                                </li>
                                <li>
                                <span>Bảo hành:</span>
                                <p>@Model.WarrantyDto.Description</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Mô tả</a>
                            </li>
 @*                           <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Specification</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Reviews ( 2 )</a>
                            </li>*@
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <p>@Model.Description</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="related__title">
                        <h5>Sản phẩm liên quan</h5>
                    </div>
                </div>
            @foreach (var r in relatedProductDtos)
            {
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="/Source/img/product/@r.Image">
                            <ul class="product__hover">
                                <li><a href="/Source/img/product/@r." class="image-popup"><span class="arrow_expand"></span></a></li>
                                <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">@r.Name</a></h6>
                            <div class="product__price">@r.Price</div>
                        </div>
                    </div>
                </div>

            }
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->

